# macOS
.DS_Store

# VS Code
.vscode/

# Python
venv/
__pycache__/
*.pyc

# PlatformIO
.pio/

# Build artifacts
build/
dist/

# Secrets
.env
*.pem
*.key

# fuxa
fuxa/fuxa-data/db/*
fuxa/fuxa-data/logs/*
fuxa/fuxa-data/images/*
fuxa/fuxa-data/appdata/alarms.fuxap.db
